@use '../abstracts' as *;

[data-component='homepage'] {
    background-color: #1a1a1a;
    height: 100dvh;

    .homepage-slider-container {
        padding: 1rem;
    }

    .drop-down-contianer {
        @include display-center(row);
        gap: 2rem;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .homepage-card-container {
        // @include display-center(row);
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
        align-items: normal;
        padding: 2rem;
        padding: 1rem;

        .user-card-container {
            margin-right: 1rem;
            margin-bottom: 1rem;

        }
    }
}