@use '../abstracts' as *;

[data-component='streaming-layout'] {
    width: 100%;
    height: 50%;

    .streaming-platform-container {
        @include display-center(row);
        overflow: hidden;
        // overflow-x: auto;
        justify-content: flex-start;
        flex-wrap: wrap;
        // width: 70%;
        // place-self: center;
    }
}