@use '../abstract' as *;
[data-component="StreamingCards"] {
  .StreamingCard1 {
    height: 16em;
    width: 14em;
    padding: 0.8em;
    font-size: 16px;
    overflow: hidden;
  }

  .StreamingCard2 {
    height: 16em;
    width: 14em;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(
      90deg,
      rgba(0, 5, 8, 0.76) 0%,
      rgba(8, 21, 69, 0.72) 50%,
      rgba(13, 58, 102, 0.76) 100%
    );
  }

  .image {
    height: 160px;
    object-fit: contain;
  }

  .squre-image {
    height: 80%;
    object-fit: cover;
  }

  .description {
    @include display-center(row);
    height: 20%;
    margin: 0 auto;
    padding: 0.4em;
    background: linear-gradient(
      90deg,
      rgba(0, 5, 8, 0.76) 0%,
      rgba(8, 21, 69, 0.72) 50%,
      rgba(13, 58, 102, 0.76) 100%
    );
    & span{
  font-size: 12px;
    }
  }
}
